replicaCount: 1

image:
  repository: ghcr.io/gopaytech/fortigate_exporter
  tag: latest
  pullPolicy: IfNotPresent

fortigate:
  configSecretName: fortigate-config

service:
  type: ClusterIP
  port: 9710

resources: {}

nodeSelector: {}
tolerations: []
affinity: {}
